{% extends 'base.html.twig' %}

{% block title %} - Singin{% endblock %}

{% block body %}
    <h2>Inscription</h2>
      {{ form_start(form) }}

        {{ form_row(form.Pseudo) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {'label' : 'Mot de passe', 'attr': {'type': 'password'}}) }}
        {{ form_row(form.confirmPassword, {'label' : 'Confirmez votre mot de passe', 'attr': {'type': 'password'}} ) }}
        {{ form_row(form.imageFile) }}

    <button type="submit" class="btn btn-primary">Créer</button>

  {{ form_end(form) }}
{% endblock %}
