

{% block overlay %}
    <div id="delete{{trick.slug}}" class="overlay">
      <div class="popup">
        <h3>Suprimer le trick {{trick.name}} </h3>

        <div class="content">
          Si vous souhaitez supprimer le trick, tous les medias (photo et vidéo) et les commentaires vont être supprimer aussi
        </div>
          <a class="btn btn-danger" href="{{ path('deleteTrick', {'slug': trick.slug}) }}">
              Oui ! Je ne peux plus le voir ! 
          </a>
          <a class="btn btn-success" href="#">
              En faite... non.
          </a>
      </div>
    </div>
    <div id="media" class="overlay">
      <div class="popup">
        <h3>Que souhaitez-vous ajouter comme média ?  </h3>
          <a class="btn btn-danger" href="{{ path('addPhoto', {'slug': trick.slug}) }}">
              Ajouter une photo
          </a>
          <a class="btn btn-danger" href="{{ path('addVideo', {'slug': trick.slug}) }}">
              Ajouter une video
          </a>
          <a class="btn btn-success" href="#">
              En faite... non.
          </a>
      </div>
    </div>

    <div id="comments" class="overlay commentover">
      <div class="popup">
        <a class="close" href="#">
          <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g id="Page-1" sketch:type="MSPage"><g id="Button-circle-delete" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup"><circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2" cx="31" cy="31" r="31"></circle><path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2" stroke-linejoin="round" d="    M43.5,38.1L36.4,31l7.1-7.1l-5.7-5.6l-7.1,7l-7-7L18,23.9l7.1,7.1L18,38.1l5.7,5.6l7-7l7.1,7L43.5,38.1z"/><path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2" d="M31,57C16.6,57,5,45.4,5,31"/><path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2" d="M31,5c14.4,0,26,11.6,26,26"/></g></g></svg>
        </a>     
        <div class="card comments">
          <h5>{{trick.comments | length }} commentaires</h5>           
          {% for comment in trick.comments | reverse %}
            <div class="card comment">
              <div class="author">
                {% if comment.CreatedUser.avatar == null  %}
                  <img src="/pictures/avatar_defaut.jpg"> 
                {% else %}
                  <img src="/pictures/avatars/{{ comment.CreatedUser.avatar }}"> 
                {% endif %}
                <strong>{{ comment.CreatedUser.pseudo }}</strong>
              </div>
              <div class="content">
                <p>{{ comment.content}}</p>
              </div>
              <div class="date">
                <small>{{ comment.createdAte | date('d/m/Y')}}</small>
              </div>
            </div>
          {% endfor %}  
        </div>
      </div>
    </div>
{% endblock %}