{% extends 'base.html.twig' %}

{% block title %} - Commentaire de {{trick.name}}{% endblock %}

{% block body %}

    <div class="card comments">
      <h5>{{trick.comments | length }} commentaires</h5>   
      {% for comment in trick.comments | reverse %}
        <div class="card comment">
          <div class="author">
            {% if comment.CreatedUser.avatar == null  %}
              <img src="/pictures/avaar_defaut.jpg"> 
            {% else %}
              <img src="/pictures/avatars/{{ comment.CreatedUser.avatar }}"> 
            {% endif %}
            <strong>{{ comment.CreatedUser.pseudo }}</strong>
          </div>
          <div class="content">
            <p>{{ comment.content}}</p>
          </div>
          <div class="date">
            <small>{{ comment.createdAte | date('d/m/Y')}}</small>
          </div>
        </div>
      {% endfor %}  
    </div>

{% endblock %}