{% extends 'base.html.twig' %}

{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}

{% block title %} - Créer un trick{% endblock %}

{% block body %}
  <section class="form">
    <h2>Nouveau trick</h2>
    {{ form_start(formTrick) }}

      {{ form_row(formTrick.name, {'label' : 'Nom de la figure', 'attr': {'placeholder': 'Nom de la figure'}}) }}
      {{ form_row(formTrick.content, {'label' : 'Description', 'attr': {'placeholder': 'Description de la figure'}}) }}
      {{ form_row(formTrick.category, {'label' : 'Difficulté'}) }}


      <button type="submit" class="btn btn-primary">
        {% if editMode %}
          Modifier
        {% else %}
          Créer
        {% endif %}
      </button> 
    {{ form_end(formTrick) }}
  </section>
{% endblock %}
